name: Frontend Lint

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  lint-frontend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [ "frontend/admin", "frontend/student" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci
        working-directory: ${{ matrix.project }}

      - name: Run linter
        run: npx biome ci --no-errors-on-unmatched --files-ignore-unknown=true ./
        working-directory: ${{ matrix.project }}
